body {
  background-color: rgba(46,48,58,0.96);
  color: white;
}

#overlay {
  background-color: rgba(255, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#searchtext {
  height:95%;
  width:95%;
  resize: none;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 30px;
  font-family: Helvetica;
  font-size: 100px;

}